*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #000080;
    border: 2px;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 24px;
}
nav img{ 
    height: 60px;
    width: 60px;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

input[type="search"] {
    width: 80%;
    height: 35px;
    border-radius: 10px;
    text-align: center;
}
body{
    background-color: #6A5ACD;
}
.carrossel{
    overflow:hidden;
    position:relative;
    align-items: center;
    width: calc(100% - 100px);
    margin: 0 auto;
}
.carrossel img{
height: 350px;
width: 350px;
object-fit: cover;
}
.slides{
    display: flex;
    width: calc(350*7);
    animation: deslizar 8s infinite alternate;
}
@keyframes deslizar{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

h2{
    margin-left: 50px;
    color: #ffffff
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: center;
    /* justify-content: center; */
    max-width: 1800px;
    /* flex-direction: column; */
    gap: 10px;

}
.card{
    width: 350px;
    height: 470px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;
    /* padding-right: 20px;
    padding-left: 20px; */
}
    

.card img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 12px;
}

footer{

    background-color: #000080;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}